In [4]:
###Print Hello World

###Print Vijaybabu

### Siddela Vijaybabu

In [5]:
print("Hello World")

Hello World

In [6]:
print("SIDDELA VIJAYBABU BTECH VIT AP UNIVERSTY")

SIDDELA VIJAYBABU BTECH VIT AP UNIVERSTY

In [7]:
print('Vijaybabu')

Vijaybabu

In [8]:
print(vijaybabu)

NameError: name 'vijaybabu' is not defined

In [9]:
print(20)

20

In [10]:
Firstname ="Siddela vijaybabu"
Firstname

'Siddela vijaybabu'

In [13]:
#Variable cann not start with the any special character
+name ="Vijaybabu"
+name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2624893746.py, line 2)

In [12]:
# Variable name can not start with number
3name = "Vijaybabu"
3name

SyntaxError: invalid decimal literal (628056755.py, line 2)

In [14]:
#Variable name can only start with _ only
first_name = "Vijaybabu"
first_name

'Vijaybabu'

In [16]:
x=20
type(x)
x

20